.projects-section {
  background-color: #1e1e1e;
  padding: 40px;
  text-align: center;
  color: white;
  padding-top: 5rem;
}

.project-heading {
  color: yellow;
  font-size: 3rem;
  margin-bottom: 30px;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background-color: #505050;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  text-align: left;
  color: white;
}

.project-card h3 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.project-card p {
  margin: 10px 0;
  font-size: 20px;
  color: #000;
}

.project-card strong {
  color: yellow;
}

.links a {
  display: block;
  color: yellow;
  margin-top: 5px;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
  font-weight: bold;
}

.see-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.links {
    text-align: center;
}

.links a:hover {
    color: white;
}

.project-card:hover {
    transform: scale(1.01);
}

.see-more:hover {
    background-color: #e6b800;
    color: black;
    transform: scale(1.05);
}