.pors-section {
  background-color: #1e1e1e;
  padding: 40px;
  text-align: center;
  color: white;
  padding-top: 5rem;
}

.pors-heading {
  color: yellow;
  font-size: 32px;
  margin-bottom: 30px;
  font-size: 3rem;
}

.pors-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.por-card {
  background-color: #505050;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  color: white;
}

.por-card h3 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.por-card p {
  margin: 10px 0;
  color: yellow;
}

.por-year {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  font-weight: bold;
}

.see-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: yellow;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.por-card:hover {
    transform: scale(1.01);
}

.see-more:hover {
    background-color: #e6b800;
    color: black;
    transform: scale(1.05);
}