.paper-section {
  background-color: #1e1e1e;
  padding: 40px;
  text-align: center;
  color: white;
  padding-top: 5rem;
}

.paper-heading {
  color: yellow;
  font-size: 3rem;
  margin-bottom: 30px;
}

.paper-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.paper-card {
  background-color: #505050;
  padding: 20px;
  border-radius: 20px;
  width: 600px;
  text-align: left;
  color: white;
}

.paper-card h3 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.paper-card p {
  margin: 10px 0;
  font-size: 20px;
  color: #000;
}

.paper-card strong {
  color: yellow;
}

.paper-card:hover {
    transform: scale(1.01);
}
